body{
    text-align: center;
    font-family: 'Spartan',sans-serif;
}
.banner{
    margin: 50px auto;
    width: 90%;
    height: 200px;
    position: relative;
}
.sale{
    background-color: salmon;
}
.delivery{
    background-color: #333;
    color: aliceblue;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    font-style: italic;
}
.word{
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    font-style: italic;
    text-decoration: line-through;
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 50px;
    background-color: white;
    transition: all .2s ease-in-out;
}
.word:hover{
    transform: scale(1.1);
}

.imageCollection{
    margin: 50px auto;
    width:90%;
     
}
.imageContainer{
    width: 400px;
    height: 530px;
    position: relative;
    display: inline-block;
    margin: 10px;
    transition: all .2s ease-in-out;
}
.imageContainer:hover{
     transform: scale(1.1);
}
.imageContainer img{
    width: 100%;
    height: 100%;
}
.hoverLayer{
    background-color: black;
    color: white;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    font-size: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.hoverLayer:hover{
    opacity: 0.75;
}